.model-preview {
    height: 60vh;
    border-radius: 25px;
}

.download-button {
    background-color: #EE7700;
    color: #333333;
    padding: 15px 45px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    border: solid 2px #EE7700;

    transition: all ease-in-out 0.15s;
}

.download-button:hover {
    background-color: transparent;
    color: #EE7700;
}

.tag {
    border: solid 2px #70737C;
    border-radius: 25px;
    padding: 2px 10px;
    color: #70737C;
    user-select: none;
    transition: all ease-in-out 0.15s;
}

.tag:hover {
    color: #BBBBBB;
}