.model-preview {
    height: 75vh;
    border-radius: 25px;
}

.asset-description {
    white-space: pre-wrap;
}

.download-button {
    background-color: #EE7700;
    color: #333333;
    padding: 15px 45px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: solid 2px #EE7700;

    transition: all ease-in-out 0.15s;
}

.download-button:hover {
    background-color: transparent;
    color: #EE7700;
}

.delete-button {
    background-color: #ee0000;
    color: #333333;
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 1000px;
    border: solid 2px #ee0000;

    transition: all ease-in-out 0.15s;
}

.delete-button:hover {
    background-color: transparent;
    color: #cc1414;
}

.edit-button {
    background-color: #EE7700;
    color: #333333;
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 1000px;
    border: solid 2px #EE7700;

    transition: all ease-in-out 0.15s;
}

.edit-button:hover {
    background-color: transparent;
    color: #EE7700;
}

.modal-content {
    background-color: #333333;
}

.modal-header {
    border-color: #454545;
}

.modal-footer {
    border-color: #454545;
}


.tag {
    border: solid 2px #70737C;
    border-radius: 25px;
    padding: 2px 10px;
    color: #70737C;
    user-select: none;
    transition: all ease-in-out 0.15s;
}

.tag:hover {
    color: #BBBBBB;
}

.relatives-list {
    overflow-x: scroll;
}

.relatives-list::-webkit-scrollbar { 
    display: none;
}

.remove-relative-container 
{
    position: relative;
    width: 0;
    height: 0;

    margin-left: auto;
    margin-right: 0;

    right: 6px;
    top: -37px;
}

.remove-relative-label 
{
    position: absolute;

    z-index: 2;

    border-radius: 100%;

    width: 45px;
    height: 45px;
    
    background-color: #333333;
    border: solid 2px #454545;
    
    background-image: url("/static/main/util/broken_link.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;

    transition: all 0.15s ease-in-out;
}

.remove-relative-label:hover 
{
    background-image: url("/static/main/util/broken_link_active.svg");
    background-color: #454545;
    border-color: #ee0000;
}

.remove-relative-input 
{
    display: none;
}