body {
    margin: 0;
    min-height: 100vh;
    background-color: rgb(40, 40, 40) !important;  
}

.top {
    background-color: rgb(72, 72, 72);
    border-bottom: 5px rgb(96, 96, 96) solid;
    width: 100%;
}

.content {
    min-height: 100%;
}

.search-form {
    background-color: rgb(56, 56, 56);
    border-bottom: 5px rgb(96, 96, 96) solid;
    width: 100%;
}

.search-form-tags input {
    display: none;
}

.search-form-tags label {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(96, 96, 96);  
    transition: all 0.25s;
}

.search-form-tags input:checked + label {
    background-color: rgb(176, 176, 176);
    color: black;
    box-shadow: 0 0 5px 0px rgb(56, 56, 56);
}

.search-form-text {
    width: 50%;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(80, 80, 80);
}

.search-form-text:focus {
    border: none;
    outline: none;
}

.search-form-submit {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: rgb(80, 80, 80);
}

.search-form-submit + input {
    display: none;
}

.search-result {

}

.asset-container {
    width: 20%;
    overflow: hidden;
    margin: 20px;
    border-radius: 20px;
    
}

.asset-image {
    box-shadow: inset 0px -30px 10px -20px rgb(56, 56, 56);
}

.asset-image img {
    width: 100%;
    position: relative;
    z-index: -1;
}

.asset-info {
    background-color: rgb(56, 56, 56);
}