<!DOCTYPE html>
<html>
    <head>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

        <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.0.1/model-viewer.min.js"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">

        {% load static %}
        <link href="{% static 'main/common.css' %}" rel="stylesheet">
        <link href="{% static 'content/view.css' %}" rel="stylesheet">

        <title>Asset Library</title>

    </head>
    <body>
        <div class="top">
            <div class="adjusted-content mx-auto d-flex align-items-center">
                <h3 class="my-3 mx-5">Asset Library</h3>

                <div class="navigation fs-6 d-flex align-items-center">
                    <a href="{% url 'library' %}" class="active">LIBRARY</a>
                    {% if perms.content.upload_assets %}
                    <a href="{% url 'upload' %}">UPLOAD</a>
                    {% endif %}
                    <a href="{% url 'logout' %}">LOG OUT</a>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="adjusted-content mx-auto">

                <div class="d-flex flex-row mt-5 gap-3">
                    <model-viewer src="{% if asset.preview_mesh %}{{ asset.preview_mesh.url }}{% endif %}" class="model-preview w-50" camera-controls interaction-prompt="none" auto-rotate auto-rotate-delay="3000" rotation-per-second="25deg"></model-viewer>
                    <div class="vertical-rule"></div>
                    <div class="flex-fill d-flex flex-column">
                        <h1 class="mx-5 my-3 text-center">{{ asset.name }}</h1>
                        <p class="mx-3 my-1">{{ asset.description }}</p>

                        <div class="mx-3 mt-auto mb-0 d-flex gap-2 flex-wrap">
                            {% for tag in asset.tags.all %}
                            <div class="tag">
                                {{ tag.name }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-row mt-5 gap-3 justify-content-between">
                    {% if asset.blender_mesh %}
                    <a href="{{ asset.blender_mesh.url }}" download class="download-button">
                        Download for Blender
                    </a>
                    {% endif %}

                    {% if asset.fbx_mesh %}
                    <a href="{{ asset.fbx_mesh.url }}" download class="download-button">
                        Download for Unreal Engine
                    </a>
                    {% endif %}

                    {% if asset.preview_mesh %}
                    <a href="{{ asset.preview_mesh.url }}" download class="download-button">
                        Download Preview
                    </a>
                    {% endif %}

                    <a href="{% url 'download_textures' asset.pk %}" id="texturesDownload" download class="download-button">
                        Download Textures
                    </a>
                </div>

                
                <div class="d-flex flex-row-reverse mt-5 gap-3">
                    {% if perms.content.delete_own and asset.author == user or perms.content.delete_others and asset.author != user %}
                    <button class="delete-button" data-bs-toggle="modal" data-bs-target="#deleteModal">
                        Delete asset
                    </button>
                    {% endif %}

                    {% if perms.content.edit_own and asset.author == user or perms.content.edit_others and asset.author != user %}
                    <a class="edit-button" href="{% url 'asset_edit' asset.pk %}">
                        Edit asset
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if perms.content.delete_own and asset.author == user or perms.content.delete_others and asset.author != user %}
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Are you sure you want to delete {{ asset.name }}?</h5>
                    </div>
                    <div class="modal-footer">
                        <a type="button" href="{% url 'asset_delete' asset.pk %}" class="delete-button">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </body>
</html>