body {
    font-family: 'Lexend', sans-serif;;
    color: #BBBBBB; 

    background-color: #333333;
}

.w-20 {
    width: 20%;
}

.top {
    background-color: #333333;
    overflow: auto;
    z-index: 10;
    box-shadow: 0 0 70px 5px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.navigation {
    color: #70737C
}

.navigation a {
    padding: 2px 15px;
    border-right: solid 2px #454545;

    transition: 0.15s ease-in-out color;
}

.navigation a:hover,
.navigation a.active {
    color: #BBBBBB
}

.navigation a:last-child {
    border: none;
}

.adjusted-content {
    width: 80%;
}

.content {
    overflow: auto;
    min-height: 100vh;

}

.form-control,
.div-field {
    color: inherit;

    background-color: #272727;
    box-shadow: 0 0 15px 2px #1d1d1d inset;
    border: solid 2px #454545;
    border-radius: 15px;
}

.form-control[type=file]::file-selector-button {
    display: none;
}

.form-control:focus {
    color: inherit;

    background: none;
    box-shadow: none;
    border-color: #70737C;
    
}   

.form-submit {
    color: #333333;
    background-color: #EE7700;
    border: solid 2px #EE7700;
    border-radius: 1000px;
    padding: 10px 30px;

    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.form-submit:hover {
    background-color: transparent;
    color: #EE7700
}



.search-filters {
    width: 20%;
}

.search-filters hr {
    border: none;
    border: 1px solid #454545;
    opacity: 1;
    border-radius: 20px;
}

.search-filters ul {
    list-style: none;

    padding: 0;
    margin: 0;
}

.search-filters ul li:nth-child(2) {
    font-size: 20px;
    color: inherit;
}

.search-filters ul li {
    color: #70737C;
    margin: 10px 0;
}

.search-filters input {
    opacity: 0;
    z-index: -1;
    position: absolute;
}

.search-filters input + label {
    display: inline-flex;
    align-items: center;
    user-select: none;

    transition: all ease-in-out 0.15s;
}

.search-filters input + label::before {
    content: "";
    display: inline-block;
    border: solid 2px #454545;
    border-radius: 25%;

    margin: 0 10px 0 0;

    width: 20px;
    height: 20px;

    flex-shrink: 0;
    flex-grow: 0;


    transition: all ease-in-out 0.15s;
}

.search-filters input:hover + label {
    color: #BBBBBB;
}

.search-filters input:hover + label::before {
    border-color: #BBBBBB;
}

.search-filters input:checked + label {
    color: #EE7700;
}

.search-filters input:checked + label::before {
    border-color: #EE7700;
    background-position: center;
    
    background-color: #EE7700;
}

.vertical-rule {
    border: solid 2px #454545;
    border-radius: 2px;
}