

.text-input {
    border: solid 2px #454545;
    border-radius: 100px;
    background: none;

    padding: 15px 20px 15px 70px;

    transition: border-color 0.15s ease-in-out;

    color: #BBBBBB;

    background: no-repeat 30px center url("/static/main/util/magnifier.svg");
}

.text-input:focus {
    outline: none !important;
    border-color: #70737C;
}

.submit-search {
    border: solid 2px #454545;
    border-radius: 100px;
    background: none;

    color: #BBBBBB;

    transition: all 0.15s ease-in-out;
}

.submit-search:hover {
    background-color: #454545;
}

.submit-search:active {
    background-color: #BBBBBB;
    border-color: #BBBBBB;
    color: #454545;
}

.search-type {
    position: relative;

    overflow-x: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;

    /*box-shadow: 0 0 10px 10px inset black;*/
}

.search-type::-webkit-scrollbar { 
    display: none;
}

.search-type div {
    display: flex;
    
    margin: 15px 5px;

    padding: 20px;

    border: solid 2px #454545;
    border-radius: 10px;

    background-color: #333333;
    
    text-transform: uppercase;

    flex-shrink: 0;

    transition: background-color 0.25s ease-in-out;
}

.search-type div p {
    margin: auto 0 auto 15px;

    
}

.search-type div:hover {
    background-color: #454545;
}

.search-result {
    width: 80%;
    gap: 50px;
    margin-left: 30px;
}

.search-result-card {
    border: solid 2px #454545;
    border-radius: 10px;

    background-color: #333333;

    padding: 15px;

    max-width: 254px;
}

.search-result-card model-viewer {
    width: 200px;
    margin: 0px 10px;

    border-radius: 20px;

}

.card-author,
.card-date {
    margin: 0;
    font-size: 13px;
    color: #70737C;
}

.card-author {
    margin-top: 10px;
}

.card-model-name {
    margin: 0;
    margin-top: 5px;
    font-size: 16px;
}

.card-model-tags {
    margin-top: 10px;

    display: block;

    overflow-x: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;

    font-size: 14px;

    color: #70737C;

    user-select: none;

    gap: 10px;
}

.card-model-tags::-webkit-scrollbar { 
    display: none;
}

.card-model-tags div {
    border: solid 2px #70737C;
    border-radius: 25px;
    padding: 2px 10px;

    transition: all ease-in-out 0.15s;
}

.card-model-tags div:hover {
    color: #BBBBBB;
}

.card-links {
    margin-top: 10px;
    width: 100%;
    display: flex;
    gap: 10px
}

.card-link {
    width: 40px;
    height: 40px;
    border: solid 2px #EE7700;

    flex-shrink: 0;
    flex-grow: 0;

    border-radius: 10px;

    background: no-repeat center center url("/static/main/util/eye_orange.svg");

    transition: all ease-in-out 0.15s;
}

.card-link:hover { 
    background-color: #EE7700;
    background-image: url("/static/main/util/eye_grey.svg");
}

.card-download {
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background:     no-repeat 14%/18% url("/static/main/util/download_icon.svg"), 
                    #EE7700;

    border-radius: 10px;
    color: #333333;
    font-weight: bold;
    vertical-align: middle;
    border: solid 2px #EE7700;

    transition: all ease-in-out 0.15s;
}

.card-download:hover {
    background-color: transparent;
    color: #EE7700;
    font-weight: normal;

    padding-left: 20%;
}

.favorite-container 
{
    position: relative;
    width: 0;
    height: 0;

    margin-left: auto;
    margin-right: 0;

    right: 6px;
    top: -37px;
}

.favorite-label 
{
    position: absolute;

    z-index: 2;

    border-radius: 100%;

    width: 45px;
    height: 45px;
    
    background-color: #333333;
    border: solid 2px #454545;
    
    background-image: url("/static/main/util/hollow_heart.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;

    transition: all 0.15s ease-in-out;
}

.favorite-label:hover 
{
    background-color: #454545;
}

.favorite-label:has(.favorite-input:checked)
{
    background-image: url("/static/main/util/heart.svg");
    border-color: #EE7700;
}

.favorite-input 
{
    display: none;
}