

.text-input {
    border: solid 2px #454545;
    border-radius: 100px;
    background: none;

    padding: 15px 20px 15px 70px;

    transition: border-color 0.15s ease-in-out;

    color: #BBBBBB;

    background: no-repeat 30px center url("/static/main/util/magnifier.svg");
}

.text-input:focus {
    outline: none !important;
    border-color: #70737C;
}

.submit-search {
    border: solid 2px #454545;
    border-radius: 100px;
    background: none;

    color: #BBBBBB;

    transition: all 0.15s ease-in-out;
}

.submit-search:hover {
    background-color: #454545;
}

.submit-search:active {
    background-color: #BBBBBB;
    border-color: #BBBBBB;
    color: #454545;
}

.search-type {
    position: relative;

    overflow-x: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;

    /*box-shadow: 0 0 10px 10px inset black;*/
}

.search-type::-webkit-scrollbar { 
    display: none;
}

.search-type div {
    display: flex;
    
    margin: 15px 5px;

    padding: 20px;

    border: solid 2px #454545;
    border-radius: 10px;

    background-color: #333333;
    
    text-transform: uppercase;

    flex-shrink: 0;

    transition: background-color 0.25s ease-in-out;
}

.search-type div p {
    margin: auto 0 auto 15px;

    
}

.search-type div:hover {
    background-color: #454545;
}

.search-result {
    width: 80%;
    gap: 50px;
    margin-left: 30px;
}



.favorite-container 
{
    position: relative;
    width: 0;
    height: 0;

    margin-left: auto;
    margin-right: 0;

    right: 6px;
    top: -37px;
}

.favorite-label 
{
    position: absolute;

    z-index: 2;

    border-radius: 100%;

    width: 45px;
    height: 45px;
    
    background-color: #333333;
    border: solid 2px #454545;
    
    background-image: url("/static/main/util/hollow_heart.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;

    transition: all 0.15s ease-in-out;
}

.favorite-label:hover 
{
    background-color: #454545;
}

.favorite-label:has(.favorite-input:checked)
{
    background-image: url("/static/main/util/heart.svg");
    border-color: #EE7700;
}

.favorite-input 
{
    display: none;
}