<!DOCTYPE html>
<html>
    <head>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">

        {% load static %}
        <link href="{% static 'main/common.css' %}" rel="stylesheet">
        <link href="{% static 'main/index.css' %}" rel="stylesheet">

        <title>Asset Library</title>

    </head>
    <body>
        <div class="top">
            <div class="adjusted-content mx-auto d-flex align-items-center">
                <h3 class="my-3 mx-5">Asset Library</h3>

                <div class="navigation fs-6 d-flex align-items-center">
                    <a href="{% url 'library' %}" class="active">LIBRARY</a>
                    <a href="{% url 'upload' %}">UPLOAD</a>
                    <a href="{% url 'logout' %}">LOG OUT</a>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="adjusted-content mx-auto">
                <div class="search-text-and-submit d-flex mt-5">
                    <input type="text" class="text-input m-2 w-75" placeholder="Search">
                    <input type="submit" class="submit-search m-2 w-25" value="Search">
                </div>

                <div class="search-bottom d-flex my-3">
                    <div class="search-filters mx-2">
                        <h6>FILTERS</h6>

                        
                        
                        {% for category in filters %}
                            <hr>

                            <ul>
                                <li>{{ category }}</li>

                                <hr>

                                {% for tag in tags %}
                                    <li><input type="checkbox" id="{{category}}-{{tags}}"> <label for="zone-personnel-zone">{{tags}}</label></li>
                                {% endfor %}
                            </ul>
                        {% endfor%}
                        <ul>
                            <li>Zone</li>
                            <hr>
                            <li><input type="checkbox" id="zone-personnel-zone"> <label for="zone-personnel-zone">Personnel Zone</label></li>
                            <li><input type="checkbox" id="zone-medical-and-research-zone"> <label for="zone-medical-and-research-zone">Medical and Research Zone</label></li>
                            <li><input type="checkbox" id="zone-entrance-hub"> <label for="zone-entrance-hub">Entrance Hub</label></li>
                            <li><input type="checkbox" id="zone-power-substation-zone"> <label for="zone-power-substation-zone">Power Substation Zone</label></li>
                            <li><input type="checkbox" id="zone-containment-bay"> <label for="zone-containment-bay">Containment Bay</label></li>
                            <li><input type="checkbox" id="zone-logistics-dep-lower"> <label for="zone-logistics-dep-lower">Logistics Dep. - Lower Bay</label></li>
                            <li><input type="checkbox" id="zone-surface-location"> <label for="zone-surface-location">Surface Location</label></li>
                        </ul>

                        <hr>

                        <ul>
                            <li>Material</li>
                            <hr>
                            <li><input type="checkbox" id="material-wood"> <label for="material-wood">Wood</label></li>
                            <li><input type="checkbox" id="material-plastic"> <label for="material-plastic">Plastic</label></li>
                            <li><input type="checkbox" id="material-concrete"> <label for="material-concrete">Concrete</label></li>
                            <li><input type="checkbox" id="material-metal"> <label for="material-metal">Metal</label></li>
                            <li><input type="checkbox" id="material-paper"> <label for="material-paper">Paper</label></li>
                            <li><input type="checkbox" id="material-cardboard"> <label for="material-cardboard">Cardboard</label></li>
                        </ul>

                    </div>

                    <div class="search-result d-flex flex-row flex-wrap justify-content-evenly align-items-start ">
                        <div class="search-result-card">
                            <img src="img/thumbnails/image 1.png">
                            <p class="card-author">Uploaded by USERNAME</p>
                            <p class="card-model-name">Porta-Potti Closed</p>
                            <div class="card-model-tags d-flex flex-nowrap">
                                <div>Construction</div>
                                <div>Props</div>
                                <div>Plastic</div>
                            </div>
                            <div class="card-links">
                                <div class="card-link"></div>
                                <div class="card-download">Export</div>
                            </div>
                        </div>

                        <div class="search-result-card">
                            <img src="img/thumbnails/image 2.png">
                            <p class="card-author">Uploaded by USERNAME</p>
                            <p class="card-model-name">Cardboard Boxes Grouped</p>
                            <div class="card-model-tags d-flex flex-nowrap">
                                <div>Construction</div>
                                <div>Cardboard</div>
                            </div>
                            <div class="card-links">
                                <div class="card-link"></div>
                                <div class="card-download">Export</div>
                            </div>
                        </div>

                        <div class="search-result-card">
                            <img src="img/thumbnails/image 3.png">
                            <p class="card-author">Uploaded by USERNAME</p>
                            <p class="card-model-name">Cement Sacks Grouped</p>
                            <div class="card-model-tags d-flex flex-nowrap">
                                <div>Construction</div>
                                <div>Props</div>
                                <div>Concrete</div>
                            </div>
                            <div class="card-links">
                                <div class="card-link"></div>
                                <div class="card-download">Export</div>
                            </div>
                        </div>

                        <div class="search-result-card">
                            <img src="img/thumbnails/image 4.png">
                            <p class="card-author">Uploaded by USERNAME</p>
                            <p class="card-model-name">Light Generator</p>
                            <div class="card-model-tags d-flex flex-nowrap">
                                <div>Construction</div>
                                <div>Props</div>
                                <div>Electronic</div>
                            </div>
                            <div class="card-links">
                                <div class="card-link"></div>
                                <div class="card-download">Export</div>
                            </div>
                        </div>

                        <div class="search-result-card">
                            <img src="img/thumbnails/image 5.png">
                            <p class="card-author">Uploaded by USERNAME</p>
                            <p class="card-model-name">Wooden Crate 01</p>
                            <div class="card-model-tags d-flex flex-nowrap">
                                <div>Construction</div>
                                <div>Props</div>
                                <div>Wood</div>
                            </div>
                            <div class="card-links">
                                <div class="card-link"></div>
                                <div class="card-download">Export</div>
                            </div>
                        </div>

                        <div class="search-result-card">
                            <img src="img/thumbnails/image 6.png">
                            <p class="card-author">Uploaded by USERNAME</p>
                            <p class="card-model-name">Water Container</p>
                            <div class="card-model-tags d-flex flex-nowrap">
                                <div>Construction</div>
                                <div>Props</div>
                                <div>Plastic</div>
                            </div>
                            <div class="card-links">
                                <div class="card-link"></div>
                                <div class="card-download">Export</div>
                            </div>
                        </div>

                        <div class="search-result-card">
                            <img src="img/thumbnails/image 7.png">
                            <p class="card-author">Uploaded by USERNAME</p>
                            <p class="card-model-name">Cement Bricks Stacked</p>
                            <div class="card-model-tags d-flex flex-nowrap">
                                <div>Construction</div>
                                <div>Props</div>
                                <div>Wood</div>
                                <div>Concrete</div>
                            </div>
                            <div class="card-links">
                                <div class="card-link"></div>
                                <div class="card-download">Export</div>
                            </div>
                        </div>

                        <div class="search-result-card">
                            <img src="img/thumbnails/image 1.png">
                            <p class="card-author">Uploaded by USERNAME</p>
                            <p class="card-model-name">Porta-Potti Closed</p>
                            <div class="card-model-tags d-flex flex-nowrap">
                                <div>Construction</div>
                                <div>Props</div>
                                <div>Plastic</div>
                            </div>
                            <div class="card-links">
                                <div class="card-link"></div>
                                <div class="card-download">Export</div>
                            </div>
                        </div>

                        <div class="search-result-card">
                            <img src="img/thumbnails/image 2.png">
                            <p class="card-author">Uploaded by USERNAME</p>
                            <p class="card-model-name">Cardboard Boxes Grouped</p>
                            <div class="card-model-tags d-flex flex-nowrap">
                                <div>Construction</div>
                                <div>Cardboard</div>
                            </div>
                            <div class="card-links">
                                <div class="card-link"></div>
                                <div class="card-download">Export</div>
                            </div>
                        </div>

                        <div class="search-result-card">
                            <img src="img/thumbnails/image 3.png">
                            <p class="card-author">Uploaded by USERNAME</p>
                            <p class="card-model-name">Cement Sacks Grouped</p>
                            <div class="card-model-tags d-flex flex-nowrap">
                                <div>Construction</div>
                                <div>Props</div>
                                <div>Concrete</div>
                            </div>
                            <div class="card-links">
                                <div class="card-link"></div>
                                <div class="card-download">Export</div>
                            </div>
                        </div>

                        <div class="search-result-card">
                            <img src="img/thumbnails/image 4.png">
                            <p class="card-author">Uploaded by USERNAME</p>
                            <p class="card-model-name">Light Generator</p>
                            <div class="card-model-tags d-flex flex-nowrap">
                                <div>Construction</div>
                                <div>Props</div>
                                <div>Electronic</div>
                            </div>
                            <div class="card-links">
                                <div class="card-link"></div>
                                <div class="card-download">Export</div>
                            </div>
                        </div>

                        <div class="search-result-card">
                            <img src="img/thumbnails/image 5.png">
                            <p class="card-author">Uploaded by USERNAME</p>
                            <p class="card-model-name">Wooden Crate 01</p>
                            <div class="card-model-tags d-flex flex-nowrap">
                                <div>Construction</div>
                                <div>Props</div>
                                <div>Wood</div>
                            </div>
                            <div class="card-links">
                                <div class="card-link"></div>
                                <div class="card-download">Export</div>
                            </div>
                        </div>

                        <div class="search-result-card">
                            <img src="img/thumbnails/image 6.png">
                            <p class="card-author">Uploaded by USERNAME</p>
                            <p class="card-model-name">Water Container</p>
                            <div class="card-model-tags d-flex flex-nowrap">
                                <div>Construction</div>
                                <div>Props</div>
                                <div>Plastic</div>
                            </div>
                            <div class="card-links">
                                <div class="card-link"></div>
                                <div class="card-download">Export</div>
                            </div>
                        </div>

                        <div class="search-result-card">
                            <img src="img/thumbnails/image 7.png">
                            <p class="card-author">Uploaded by USERNAME</p>
                            <p class="card-model-name">Cement Bricks Stacked</p>
                            <div class="card-model-tags d-flex flex-nowrap">
                                <div>Construction</div>
                                <div>Props</div>
                                <div>Wood</div>
                                <div>Concrete</div>
                            </div>
                            <div class="card-links">
                                <div class="card-link"></div>
                                <div class="card-download">Export</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom">

        </div>

        <script src="index.js"></script>
    </body>
</html>